div.row
            
       div.row
      article.col-sm-12.col-md-12.col-lg-6
        section#widget-grid
          div#wid-id-0.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', role='widget', style='')
            header(role='heading')
              div.jarviswidget-ctrls(role='menu')
                a.button-icon.jarviswidget-toggle-btn(href='#', rel='tooltip', title='', data-placement='bottom', data-original-title='Collapse')
                  i.fa.fa-minus
                a.button-icon.jarviswidget-fullscreen-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Fullscreen')
                  i.fa.fa-resize-full
                a.button-icon.jarviswidget-delete-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Delete')
                  i.fa.fa-times
              div.widget-toolbar(role='menu')
                a.dropdown-toggle.color-box.selector(data-toggle='dropdown', href='javascript:void(0);')
                ul.dropdown-menu.arrow-box-up-right.color-select.pull-right
                  li
                    span.bg-color-green(data-widget-setstyle='jarviswidget-color-green', rel='tooltip', data-placement='left', data-original-title='Green Grass')
                  li
                    span.bg-color-greenDark(data-widget-setstyle='jarviswidget-color-greenDark', rel='tooltip', data-placement='top', data-original-title='Dark Green')
                  li
                    span.bg-color-greenLight(data-widget-setstyle='jarviswidget-color-greenLight', rel='tooltip', data-placement='top', data-original-title='Light Green')
                  li
                    span.bg-color-purple(data-widget-setstyle='jarviswidget-color-purple', rel='tooltip', data-placement='top', data-original-title='Purple')
                  li
                    span.bg-color-magenta(data-widget-setstyle='jarviswidget-color-magenta', rel='tooltip', data-placement='top', data-original-title='Magenta')
                  li
                    span.bg-color-pink(data-widget-setstyle='jarviswidget-color-pink', rel='tooltip', data-placement='right', data-original-title='Pink')
                  li
                    span.bg-color-pinkDark(data-widget-setstyle='jarviswidget-color-pinkDark', rel='tooltip', data-placement='left', data-original-title='Fade Pink')
                  li
                    span.bg-color-blueLight(data-widget-setstyle='jarviswidget-color-blueLight', rel='tooltip', data-placement='top', data-original-title='Light Blue')
                  li
                    span.bg-color-teal(data-widget-setstyle='jarviswidget-color-teal', rel='tooltip', data-placement='top', data-original-title='Teal')
                  li
                    span.bg-color-blue(data-widget-setstyle='jarviswidget-color-blue', rel='tooltip', data-placement='top', data-original-title='Ocean Blue')
                  li
                    span.bg-color-blueDark(data-widget-setstyle='jarviswidget-color-blueDark', rel='tooltip', data-placement='top', data-original-title='Night Sky')
                  li
                    span.bg-color-darken(data-widget-setstyle='jarviswidget-color-darken', rel='tooltip', data-placement='right', data-original-title='Night')
                  li
                    span.bg-color-yellow(data-widget-setstyle='jarviswidget-color-yellow', rel='tooltip', data-placement='left', data-original-title='Day Light')
                  li
                    span.bg-color-orange(data-widget-setstyle='jarviswidget-color-orange', rel='tooltip', data-placement='bottom', data-original-title='Orange')
                  li
                    span.bg-color-orangeDark(data-widget-setstyle='jarviswidget-color-orangeDark', rel='tooltip', data-placement='bottom', data-original-title='Dark Orange')
                  li
                    span.bg-color-red(data-widget-setstyle='jarviswidget-color-red', rel='tooltip', data-placement='bottom', data-original-title='Red Rose')
                  li
                    span.bg-color-redLight(data-widget-setstyle='jarviswidget-color-redLight', rel='tooltip', data-placement='bottom', data-original-title='Light Red')
                  li
                    span.bg-color-white(data-widget-setstyle='jarviswidget-color-white', rel='tooltip', data-placement='right', data-original-title='Purity')
                  li
                    a.jarviswidget-remove-colors(href='javascript:void(0);', data-widget-setstyle='', rel='tooltip', data-placement='bottom', data-original-title='Reset widget color to default') Remove
              span.widget-icon
                i.fa.fa.fa-folder-o
              h2 Tabla Usuarios Grid
              span.jarviswidget-loader(style='display: none;')
                i.fa.fa-refresh.fa-spin
            div(role='content', style='display: block;')
              div.jarviswidget-editbox
              div.widget-body
                  h1 Ejemplo del curso
                  p
                  | Color:
                  input#color(type='text', value='#000000')
                  #grid
    article.col-sm-12.col-md-12.col-lg-6
        section#widget-grid
          div#wid-id-0.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', role='widget', style='')
            header(role='heading')
              div.jarviswidget-ctrls(role='menu')
                a.button-icon.jarviswidget-toggle-btn(href='#', rel='tooltip', title='', data-placement='bottom', data-original-title='Collapse')
                  i.fa.fa-minus
                a.button-icon.jarviswidget-fullscreen-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Fullscreen')
                  i.fa.fa-resize-full
                a.button-icon.jarviswidget-delete-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Delete')
                  i.fa.fa-times
              div.widget-toolbar(role='menu')
                a.dropdown-toggle.color-box.selector(data-toggle='dropdown', href='javascript:void(0);')
                ul.dropdown-menu.arrow-box-up-right.color-select.pull-right
                  li
                    span.bg-color-green(data-widget-setstyle='jarviswidget-color-green', rel='tooltip', data-placement='left', data-original-title='Green Grass')
                  li
                    span.bg-color-greenDark(data-widget-setstyle='jarviswidget-color-greenDark', rel='tooltip', data-placement='top', data-original-title='Dark Green')
                  li
                    span.bg-color-greenLight(data-widget-setstyle='jarviswidget-color-greenLight', rel='tooltip', data-placement='top', data-original-title='Light Green')
                  li
                    span.bg-color-purple(data-widget-setstyle='jarviswidget-color-purple', rel='tooltip', data-placement='top', data-original-title='Purple')
                  li
                    span.bg-color-magenta(data-widget-setstyle='jarviswidget-color-magenta', rel='tooltip', data-placement='top', data-original-title='Magenta')
                  li
                    span.bg-color-pink(data-widget-setstyle='jarviswidget-color-pink', rel='tooltip', data-placement='right', data-original-title='Pink')
                  li
                    span.bg-color-pinkDark(data-widget-setstyle='jarviswidget-color-pinkDark', rel='tooltip', data-placement='left', data-original-title='Fade Pink')
                  li
                    span.bg-color-blueLight(data-widget-setstyle='jarviswidget-color-blueLight', rel='tooltip', data-placement='top', data-original-title='Light Blue')
                  li
                    span.bg-color-teal(data-widget-setstyle='jarviswidget-color-teal', rel='tooltip', data-placement='top', data-original-title='Teal')
                  li
                    span.bg-color-blue(data-widget-setstyle='jarviswidget-color-blue', rel='tooltip', data-placement='top', data-original-title='Ocean Blue')
                  li
                    span.bg-color-blueDark(data-widget-setstyle='jarviswidget-color-blueDark', rel='tooltip', data-placement='top', data-original-title='Night Sky')
                  li
                    span.bg-color-darken(data-widget-setstyle='jarviswidget-color-darken', rel='tooltip', data-placement='right', data-original-title='Night')
                  li
                    span.bg-color-yellow(data-widget-setstyle='jarviswidget-color-yellow', rel='tooltip', data-placement='left', data-original-title='Day Light')
                  li
                    span.bg-color-orange(data-widget-setstyle='jarviswidget-color-orange', rel='tooltip', data-placement='bottom', data-original-title='Orange')
                  li
                    span.bg-color-orangeDark(data-widget-setstyle='jarviswidget-color-orangeDark', rel='tooltip', data-placement='bottom', data-original-title='Dark Orange')
                  li
                    span.bg-color-red(data-widget-setstyle='jarviswidget-color-red', rel='tooltip', data-placement='bottom', data-original-title='Red Rose')
                  li
                    span.bg-color-redLight(data-widget-setstyle='jarviswidget-color-redLight', rel='tooltip', data-placement='bottom', data-original-title='Light Red')
                  li
                    span.bg-color-white(data-widget-setstyle='jarviswidget-color-white', rel='tooltip', data-placement='right', data-original-title='Purity')
                  li
                    a.jarviswidget-remove-colors(href='javascript:void(0);', data-widget-setstyle='', rel='tooltip', data-placement='bottom', data-original-title='Reset widget color to default') Remove
              span.widget-icon
                i.fa.fa.fa-folder-o
              h2 Tabla Usuarios Grid
              span.jarviswidget-loader(style='display: none;')
                i.fa.fa-refresh.fa-spin
            div(role='content', style='display: block;')
              div.jarviswidget-editbox
              div.widget-body
                    form.smart-form
                      header
                        | Chatear
                      |                         
                      fieldset
                        section
                          label.label Extra Small text input
                          |                                 
                          label.input
                            input.input-xs(type='text')
                      |                         
                      fieldset
                        section
                          label.label Columned radios
                          |                                 
                          .row
                            .col.col-4
                              label.radio
                                input(type='radio', name='radio', checked='checked')
                                |                                             
                                i
                                | Alexandra
                        |                             
                        section
                          label.label Inline radios (disabled)
                          |                                 
                          .inline-group
                            label.radio
                              input(type='radio', name='radio-inline', checked='checked')
                              |                                         
                              i
                              | Alexandra
                      |                         
                      fieldset
                        .row
                          section.col.col-5
                            label.label Radio Toggles (disabled)
                            |                                     
                            label.toggle
                              input(type='checkbox', name='checkbox-toggle', checked='checked')
                              i(data-swchon-text='ON', data-swchoff-text='OFF')
                              | Servidor 
                      |                         
                      footer
                        button.btn.btn-primary(type='submit')
                          | Submit
                        |                             
                        button.btn.btn-default(type='button', onclick='window.history.back();')
                          | Back
