extends ./layout


block body
    .row.state-overview
        .col-lg-3.col-sm-6
            section.panel
                .symbol.terques
                    i.fa.fa-user
                .value
                    h1.count  0
                    p new User
        .col-lg-3.col-sm-6
            section.panel
                .symbol.red
                    i.fa.fa-tag
                .value
                    h1.count2 0
                    p Sales
        .col-lg-3.col-sm-6
            section.panel
                .symbol.yellow
                    i.fa.fa-shopping-cart
                .value
                    h1.count3 0
                    p New Orden
        .col-lg-3.col-sm-6
            section.panel
                .symbol.blue
                    i.fa.fa-bar-chart-o
                .value
                    h1.count4 0
                    p Total Profit

